<!DOCTYPE html>
 
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <!-- # Source - https://stackoverflow.com/a/25036606
    # Posted by Andrejs Cainikovs, modified by community. See post 'Timeline' for change history
    # Retrieved 2025-12-21, License - CC BY-SA 3.0 -->

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <!--
    Source - https://stackoverflow.com/a/19390978
    Posted by LasagnaAndroid, modified by community. See post 'Timeline' for change history
    Retrieved 2025-12-29, License - CC BY-SA 4.0
    -->

    <link rel="icon" type="image/x-icon" href="/static/favicon.ico"/>

    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <main>
        {% block main %}{% endblock %}
    </main>
</body>