{% extends "layout.html" %}

{% block title %}Sign up{% endblock %}

{% block main %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
</head>
<body class="bg-light">

    <header>
        <div class="container">
            <div class="nav-container">
                <a href="/" class="logo">
                    <img src="/static/FlexR_Logo.png" style="width:40%; height:40%">
                </a>
                
                <div class="nav-links" style="display: flex;">
                    <span style="font-size: 0.9rem; color: #777; margin-right: 10px;">Already have an account?</span>

                    <!-- Must create login.html -->

                    <a href="login.html" style="font-weight: 600; color: var(--primary-red);">Log In</a>
                </div>
            </div>
        </div>
    </header>

    <section style="padding: 60px 0;">
        <div class="container" style="display: flex; justify-content: center;">
            
            <div class="card" style="max-width: 500px; width: 100%;">
                <div style="text-align: center; margin-bottom: 30px;">
                    <h2>Manage your gym and track your athletes today.</h2>
                </div>
                <form action="/register" method="post">

                    <!-- GYM NAME -->

                    <div class="form-group">
                        <label for="gymName" class="form-label">Gym Name</label>
                        <input required name="gymName" autocomplete="off" autofocus type="text" id="gymName" class="form-control" placeholder="e.g. Iron Titan Fitness">
                    </div>

                    <!-- EMAIL ADDRESS -->

                    <div class="form-group">
                        <label for="email" class="form-label">Email Address</label>
                        <input required name="emailAddress" autocomplete="off" type="email" id="email" class="form-control" placeholder="john@example.com">
                    </div>

                    <!-- PASSWORD -->

                    <div class="form-group">
                        <label for="password" class="form-label">Password</label>
                        <input required name="password" autocomplete="off" type="password" id="password" class="form-control" placeholder="Min. 8 characters">
                    </div>

                    <!-- REPEAT PASSWORD -->

                    <div class="form-group">
                        <label for="password" class="form-label">Repeat Password</label>
                        <input required name="repeatPassword" autocomplete="off" type="password" id="password" class="form-control" placeholder="Passwords must match">
                    </div>

                    <!-- SUBMIT BUTTON -->

                    <button type="submit" class="btn btn-primary btn-block" style="margin-top: 20px;">
                        Create Account
                </form>
            </div>

        </div>
    </section>

</body>
</html>

{% endblock %}